---
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"posts">;

const {
  slug,
  data: { categories, date, title },
} = Astro.props;
const formattedDate = new Date(date).toLocaleDateString("en-GB", {
  day: "numeric",
  month: "short",
  year: "2-digit",
});
---

<div class="my-2 lg:my-3">
  <a
    href={`/${categories[0].toLowerCase()}/${slug}`}
    class="transition group flex flex-row items-center p-4 border-b overflow-hidden border-gray-300 cursor-pointer hover:bg-indigo-100"
  >
    <div class="hidden lg:block basis-1/12 font-semibold leading-4 text-sm text-indigo-700">
      {formattedDate}
    </div>

    <h2
      class="basis-full lg:basis-8/12 flex-auto font-bold text-xl md:text-2xl leading-7 text-gray-800 hover:text-gray-600 mr-1"
    >
      {title}
    </h2>

    <p
      class="hidden lg:basis-1/12 lg:block text-right font-semibold text-indigo-700 transition translate-x-20 group-hover:translate-x-0"
    >
      Read{" "}
      <svg
        class="hi-solid hi-arrow-right inline-block w-5 h-5"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z"
          clip-rule="evenodd"></path>
      </svg>
    </p>
  </a>
</div>
