---
import { ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
import Config from "../lib/config";

type Props = {
  title: string;
  withHero?: boolean;
};

const { title, withHero } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={Config.tagline} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="phrappe.com » Feed"
      href="https://www.phrappe.com/rss/feed.xml"
    />
    <ViewTransitions />
  </head>
  <body>
    <Header />
    {withHero && <Hero />}
    <main><slot /></main>
    <Footer />
    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
    </style>
  </body>
</html>
